<!DOCTYPE html>
<html ng-app="resto">
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="restaurant-objects.js"></script>
</head>
<body ng-controller='frontEnd'>
	<h2>{{tacoTown.name}}</h2>
	<h4>{{tacoTown.description}}</h4>
	<div ng-repeat="food in tacoTown.menu.plates">
		<p>{{food.stringify()}}<br>{{food.description}}</p>
		<button ng-click="order.addItem(food)">Add Item</button>
	</div>
<!-- Fancy Food - $3.00 -->
<!-- Food made of fancy things -->
<!-- AddItem     RemoveItem -->
	<div style="background-color: red; float: right" ng-show="order.show">
		<h2>TAKE UP SPACE!!</h2>
	</div>
<!-- Item (2)     X -->
<!-- Item 		  X -->
<!-- Item (2)     X -->
<!-- Total: $20 -->
</body>
</html>